@import '~bootstrap/scss/bootstrap';

body {
  header {
    font-family: 'Source Code Pro', monospace;
    li {
      background-color: $primary;
      border-radius: 20px;
      padding: 4px 6px;
      transition: all .3s;
      &:hover{
        transform: scale(1.1);
        background-color: white;
        a {
          color: $primary;
        }
      }
      a{
        list-style: none;
        text-decoration: none;
        color: white;
        font-size: 0.9rem;
      }
    }
  }
  main {
    .container {
      .home-gif{
        box-shadow: 0 0 10px rgba($color: white, $alpha: 0.4);
      }
    }
  }
}
